<section class="doctor">
  <div class="container">
    <h2 class="doctor-title">Choose Your Specialist Doctor</h2>
    <p class="doctor-text">Magnis facilisis tortor volutpat lobortis ac id. Libero enim nunc etiam consectetur lacus. In malesuada dictum turpis amet porttitor viverra laoreet at commodo. Pellentesque vitae id semper nec sollicitudin. Quis purus, mus consectetur pharetra ipsum facilisis amet cras purus.</p>
    <ul class="doctor__list">
      <li class="doctor__list-item">
        <div class="wrapper">
          <img src="../img/Ellipse4.png" alt="" />
          <h3 class="doctor__list-title">Kornelia Atkinson, MD</h3>
          <h4 class="doctor__list-subtitle">Interventional Cardiologist</h4>
        </div>
        <p class="doctor__list-text">Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing</p>
        <a href="" class="doctor__list-link">Book Appointment</a>
      </li>
      <li class="doctor__list-item">
        <div class="wrapper">
          <img src="../img/Ellipse5.png" alt="" />
          <h3 class="doctor__list-title">Humera Wood, MD</h3>
          <h4 class="doctor__list-subtitle">OB-GYN Nurse Practitioner</h4>
        </div>
        <p class="doctor__list-text">Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing</p>
        <a href="" class="doctor__list-link">Book Appointment</a>
      </li>
      <li class="doctor__list-item">
        <div class="wrapper">
          <img src="../img/Ellipse6.png" alt="" />
          <h3 class="doctor__list-title">Athena Barrow, MD</h3>
          <h4 class="doctor__list-subtitle">Critical Care Specialist</h4>
        </div>
        <p class="doctor__list-text">Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing</p>
        <a href="" class="doctor__list-link">Book Appointment</a>
      </li>
      
      <li class="doctor__list-item">
        <div class="wrapper">
          <img src="../img/Ellipse7.png" alt="" />
          <h3 class="doctor__list-title">Sion Jennings, MD</h3>
          <h4 class="doctor__list-subtitle">Nurse Practitioner</h4>
        </div>
        <p class="doctor__list-text">Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing</p>
        <a href="" class="doctor__list-link">Book Appointment</a>
      </li>
      <li class="doctor__list-item">
        <div class="wrapper">
          <img src="../img/Ellipse8.png" alt="" />
          <h3 class="doctor__list-title">Natasha Grant, MD</h3>
          <h4 class="doctor__list-subtitle">Immunologist</h4>
        </div>
        <p class="doctor__list-text">Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu dolor. Quam sit risus egestas morbi.Velit faucibus sed adipiscing</p>
        <a href="" class="doctor__list-link">Book Appointment</a>
      </li>
      <li class="doctor-list">
        <div class="wrapper">
          <img src="../img/Ellipse9.png" alt="" />
          <h3 class="doctor__list-title">Zubair Mac, MD</h3>
          <h4 class="doctor__list-subtitle">Nurse Practitioner</h4>
        </div>
        <p class="doctor__list-text"></p>
        <a href="" class="doctor__list-link">Book Appointment</a>
      </li>
    </ul>
  </div>
</section>
