<footer id="ftr" class="ftr">
  <div class="container">
    <h2 class="ftr-title">Contact<span> Me</span></h2>
    <p class="ftr-text">
      There are many variations of passages ofLorem Ipsumavailable, but the
      majority havesuffered alteration in some form, by injected humour,
    </p>
    <div class="ftr__wrapper">
      <address class="ftr__address">
        <ul class="ftr__list">
          <li class="ftr__list-item">
            <a href=""
              >Address _
              <span>23 S 80 Road, Benedict,ne, 68316 United States</span></a
            >
          </li>
          <li class="ftr__list-item">
            <a href="">Phone _ <span>+01 123 456 789</span></a>
          </li>
          <li class="ftr__list-item">
            <a href="">E mail _ <span>abc.xyz@gmail.com</span></a>
          </li>
          <li class="ftr__list-item">
            <a href="">Website _ <span>www.abc.xyz.com</span></a>
          </li>
        </ul>
      </address>
      <form class="ftr__form">
        <input class="ftr__form-input" type="name" placeholder="Name" />
        <textarea
          class="ftr__form-text"
          type="text"
          placeholder="Message"
        ></textarea>
        <button type="submit" class="ftr-btn">Contact us</button>
      </form>
    </div>

    <h2 id="blog" class="ftr-subtitle">AboutMe.</h2>
    <p class="ftr-text">
      There are many variations of passages ofLorem Ipsumavailable, but the
      majority havesuffered alteration in some form,
    </p>
    <ul class="ftr__svg">
      <li class="ftr__svg-item">
        <a href="">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#Frame-3"></use>
          </svg>
        </a>
      </li>
      <li class="ftr__svg-item">
        <a href="">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#Frame-4"></use>
          </svg>
        </a>
      </li>
      <li class="ftr__svg-item">
        <a href="">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#Frame-5"></use>
          </svg>
        </a>
      </li>
      <li class="ftr__svg-item">
        <a href="">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#Frame-6"></use>
          </svg>
        </a>
      </li>
      <li class="ftr__svg-item">
        <a href="">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#Frame-7"></use>
          </svg>
        </a>
      </li>
      <li class="ftr__svg-item">
        <a href="">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#Frame-8"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
