<footer class="ftr">
  <div class="container">
    <div class="ftr__textcont">
      <h2 class="ftr_textcont-title">Quiro Diagnostic Center</h2>
      <p class="ftr__textcont-text">
        Magnis facilisis tortor volutpat lobortis ac id. Libero enim nunc etiam
        consectetur lacus. In malesuada dictum turpis amet porttitor viverra
        laoreet at commodo. Pellentesque vitae id semper nec sollicitudin. Quis
        purus, mus consectetur pharetra ipsum facilisis amet cras purus.
      </p>
    </div>
    <address class="ftr__address">
      <ul class="ftr__address_list">
        <li class="ftr__address-item">
          <h2 class="ftr__address-title">Address</h2>
          <span>5 Koh Sek Lim Rd Singapore 486050</span>
        </li>
        <li class="ftr__address-item">
          <h2 class="ftr__address-title">Telephone</h2>
          <span>
            <a href="">(07)40127246</a>
            <a href="">(02)67566577</a>
          </span>
        </li>
        <li class="ftr__address-item">
          <h2 class="ftr__address-title">Email</h2>
          <a>name@email.com</a>
        </li>
      </ul>
    </address>
    <div class="ftr__time">
        <h3 class="ftr__time-title">Opening Hour</h3>
        <ul class="time__list">
            <li class="time__list-item"><span>Thursday: 9am - 6pm</span></li>
            <li class="time__list-item"><span>Wednesday: 9am - 6pm</span></li>
            <li class="time__list-item"><span>Saturday: 9am - 6pm</span></li>
            <li class="time__list-item"><span>Friday: 9am - 6pm</span></li>
            <li class="time__list-item"><span>Saturday: 9am - 6pm</span></li>
            <li class="time__list-item"><span>Tuesday: 9am - 6pm</span></li>
        </ul>
    </div>
  </div>
</footer>
