<header class="head">
  <div class="container">
    <nav>
      <a href="" class="head-logo">Quiro Diagnostic Center</a>
      <div class="head__menu btn-open" id="btn-open">
        <svg width="49" height="49">
          <use href="../img/symbol-defs.svg#menu2"></use>
        </svg>
      </div>
      <div class="head-wrapper menu-container" id="menu-container">
        <div class="head__menu btn-close" id="btn-close">
          <svg width="40" height="40">
            <use href="../img/symbol-defs.svg#cross"></use>
          </svg>
        </div>
        <ul class="head__list">
          <li class="head__list-item"><a href="">Home</a></li>
          <li class="head__list-item"><a href="">Service</a></li>
          <li class="head__list-item"><a href="">Doctors</a></li>
          <li class="head__list-item"><a href="">Gallery</a></li>
          <li class="head__list-item"><a href="">Contact</a></li>
        </ul>
        <form class="head__form">
          <label>
            <input type="text" placeholder="Search Here" class="head__form-input" />
          </label>
        </form>
      </div>
    </nav>
  </div>
</header>
