<header id="head" class="head">
  <div class="container">
    <a href="" class="head-logo">About<span>Me.</span></a>
    <div class="head__menu btn-open" id="btn-open">
      <svg width="49" height="49">
        <use href="../img/symbol-defs.svg#menu2"></use>
      </svg>
    </div>
    <nav class="menu-container" id="menu-container">
      <div class="mobile-wrapper">
        <div class="head__menu btn-close" id="btn-close">
          <svg width="40" height="40">
            <use href="../img/symbol-defs.svg#cross"></use>
          </svg>
        </div>
        <ul class="head__list">
          <li class="head__list-item">
            <a class="head-link" href="#hero">Home</a>
          </li>
          <li class="head__list-item">
            <a class="head-link" href="#about">About</a>
          </li>
          <li class="head__list-item">
            <a class="head-link" href="#servise">Service</a>
          </li>
          <li class="head__list-item">
            <a class="head-link" href="#portfolio">Portfolio</a>
          </li>
          <li class="head__list-item">
            <a class="head-link" href="#work">Resume</a>
          </li>
          <li class="head__list-item">
            <a class="head-link" href="#blog">Blog</a>
          </li>
          <li class="head__list-item">
            <a class="head-link" href="#ftr">ContAct</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
