<section id="hero" class="hero">
  <div class="container">
    <div class="hero__text">
      <h2 class="hero-subtitle">Hello, Welcome</h2>
      <h1 class="hero-title">I m Anderson Coper</h1>
      <p class="hero-text">
        There are many variations of passages ofLorem Ipsum available, but the
        majority havesuffered alteration in some form, by injected humour,
      </p>
      <a href="" class="hero-link">Contact us</a>
    </div>
    <img src="./img/hero.png" class="hero-img" alt="" width="427">
  </div>
</section>
