<section id="portfolio" class="portfolio">
  <div class="container">
    <h2 class="portfolio-title">My <span>Portfolio</span></h2>
    <p class="portfolio-text">
      There are many variations of passages ofLorem Ipsum available, but the
      majority havesuffered alteration in some form, by injected humour,
    </p>
    <ul class="portfolio__list">
      <li class="portfoli__list-item div1">
        <img src="./img/portfolio/img-1.png" alt="" width="540"/>
      </li>
      <li class="portfoli__list-item div2">
        <img src="./img/portfolio/img-2.png" alt="" width="256"/>
      </li>
      <li class="portfoli__list-item div3">
        <img src="./img/portfolio/img-3.png" alt="" width="256"/>
      </li>
      <li class="portfoli__list-item div4">
        <img src="./img/portfolio/img-4.png" alt="" width="256"/>
      </li>
      <li class="portfoli__list-item div5">
        <img src="./img/portfolio/img-5.png" alt="" width="256"/>
      </li>
    </ul>
  </div>
</section>
