<section id="servise" class="servise">
  <div class="container">
    <h2 class="servise-title">My <span>Service</span></h2>
    <p class="servise-text">
      There are many variations of passages ofLorem Ipsum available, but the
      majority havesuffered alteration in some form, by injected humour,
    </p>
    <div class="servise-swiper">
      <div class="servise__list servise-swiper__wrap swiper-wrapper">
        <div class="servise__list-item swiper-slide">
          <svg class="servise__list-svg" width="40">
            <use href="./img/symbol-defs.svg#Frame"></use>
          </svg>
          <h3 class="servise__list-title">
            Digital <br />
            Marketing
          </h3>
          <p class="servise__list-text">
            There are many variations of passages ofLorem Ipsumavailable, but
            the majority havesuffered alteration in some
          </p>
        </div>
        <div class="servise__list-item swiper-slide">
          <svg class="servise__list-svg" width="40">
            <use href="./img/symbol-defs.svg#Frame-1"></use>
          </svg>
          <h3 class="servise__list-title">
            Web <br />
            Devlopment
          </h3>
          <p class="servise__list-text">
            There are many variations of passages ofLorem Ipsumavailable, but
            the majority havesuffered alteration in some
          </p>
        </div>
        <div class="servise__list-item swiper-slide">
          <svg class="servise__list-svg" width="40">
            <use href="./img/symbol-defs.svg#Frame-2"></use>
          </svg>
          <h3 class="servise__list-title">
            Creative <br />
            Graphic Design
          </h3>
          <p class="servise__list-text">
            There are many variations of passages ofLorem Ipsumavailable, but
            the majority havesuffered alteration in some
          </p>
        </div>
        <div class="servise__list-item swiper-slide">
          <svg class="servise__list-svg" width="40">
            <use href="./img/symbol-defs.svg#Frame-1"></use>
          </svg>
          <h3 class="servise__list-title">
            Web<br />
            Devlopment
          </h3>
          <p class="servise__list-text">
            There are many variations of passages ofLorem Ipsumavailable, but
            the majority havesuffered alteration in some
          </p>
        </div>
        <div class="servise__list-item swiper-slide">
          <svg class="servise__list-svg" width="40">
            <use href="./img/symbol-defs.svg#Frame-2"></use>
          </svg>
          <h3 class="servise__list-title">
            Creative <br />
            Graphic Design
          </h3>
          <p class="servise__list-text">
            There are many variations of passages ofLorem Ipsumavailable, but
            the majority havesuffered alteration in some
          </p>
        </div>
        <div class="servise__list-item swiper-slide">
          <svg class="servise__list-svg" width="40">
            <use href="./img/symbol-defs.svg#Frame-2"></use>
          </svg>
          <h3 class="servise__list-title">
            Creative <br />
            Graphic Design
          </h3>
          <p class="servise__list-text">
            There are many variations of passages ofLorem Ipsumavailable, but
            the majority havesuffered alteration in some
          </p>
        </div>
      </div>
      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
