<section class="servise">
  <div class="container">
    <h2 class="servise-title">Our Services</h2>
    <p class="servise-text">
      Magnis facilisis tortor volutpat lobortis ac id. Libero enim nunc etiam
      consectetur lacus. In malesuada dictum turpis amet porttitor viverra
      laoreet at commodo. Pellentesque vitae id semper nec sollicitudin. Quis
      purus, mus consectetur pharetra ipsum facilisis amet cras purus.
    </p>

    <ul class="servise__list">
      <li class="servise__list-item">
        <svg class="servise__list-svg">
          <use></use>
        </svg>
        <h3 class="servise__list-title">Call For Appointments</h3>
        <p class="servise__list-text">
          Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu
          dolor. Quam sit risus egestas morbi.
        </p>
        <a href="" class="servise__list-link">Learn More</a>
      </li>
      <li class="servise__list-item">
        <svg class="servise__list-svg">
          <use></use>
        </svg>
        <h3 class="servise__list-title">Find A Doctor</h3>
        <p class="servise__list-text">
          Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu
          dolor. Quam sit risus egestas morbi.
        </p>
        <a href="" class="servise__list-link">Learn More</a>
      </li>
      <li class="servise__list-item">
        <svg class="servise__list-svg">
          <use></use>
        </svg>
        <h3 class="servise__list-title">Our Services</h3>
        <p class="servise__list-text">
          Velit faucibus sed adipiscing commodo. Mattis in at amet, facilisis eu
          dolor. Quam sit risus egestas morbi.
        </p>
        <a href="" class="servise__list-link">Learn More</a>
      </li>
    </ul>
  </div>
</section>
