.about {
  padding: 96px 0;
  background-color: $bg-1;
  .container {
    display: flex;
    align-items: center;
    gap: 89px;
    @include tab-min {
      flex-direction: column;
    }
    .img-wrapper {
      position: relative;
      max-width: 475px;
      display: flex;
      @include tab-min {
        max-width: 300px;
      }
      @include tel-min{
        max-width: 260px;
      }
      span {
        position: absolute;
        width: 95%;
        height: 100%;
        border-radius: 24px;
        border: 16px solid $logo-sub-color;
        z-index: 0;
        right: -15px;
        top: 10px;
      }
      .about-img {
        position: relative;
        z-index: 2;
        margin-left: 45px;
        @include tel-min{
        margin-left: 25px;
      }
      }
    }

    .about__text {
      max-width: 509px;
      .about-title {
        color: $logo-color;
        font-size: 42px;
        font-weight: 700;
        line-height: 64px;
        margin-bottom: 32px;
        span {
          color: $logo-sub-color;
        }
      }
      .about-text {
        color: $color-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 32px;
        display: flex;
        gap: 18px;
        flex-direction: column;
      }
      .about-btn {
        display: inline-block;
        padding: 16px 20px;
        color: $btn-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        background-color: $logo-sub-color;
        border-radius: 4px;
      }
    }
  }
}
