.head {
  padding: 50px 0;
  .container {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }
  &-logo {
    color: $Paragraph;
    font-size: 24px;
    font-weight: 600;
  }
  .head__menu {
    display: none;
    @include tab {
      display: block;
    }
    .btn-open {
    }
  }

  .head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 118px;
    @include tab {
      flex-direction: column;
      padding: 24px;
      gap: 32px;
      align-items: start;
      overflow: scroll;
      justify-content: unset;
    }
    .btn-close {
    }
    .head__list {
      display: flex;
      justify-content: center;
      gap: 24px;
      @include tab {
        flex-direction: column;
      }
      &-item {
        a {
          color: #000;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    .head__form {
      display: flex;
      &-input {
        @include tab {
          width: 100%;
        }
        border: transparent;
        width: 278px;
        border-radius: 50px;
        background: #000;
        outline: transparent;
        padding: 13px 0 13px 18px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        ::placeholder {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
