.hero {
  padding: 96px 0;
  background-color: $bg-2;
  .container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    @include tel {
      flex-direction: column;
    }
    .hero__text {
      max-width: 466px;
      .hero-subtitle {
        color: $logo-sub-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 24px;
      }
      .hero-title {
        color: $logo-color;
        font-size: calc(24px + 20 * ((100vw - 320px) / (1440 - 320)));
        font-weight: 700;
        line-height: 64px;
        margin-bottom: 8px;
      }
      .hero-text {
        color: $color-text;
        font-size: calc(13px + 10 * ((100vw - 320px) / (1440 - 320)));
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 24px;
      }
      .hero-link {
        display: inline-block;
        color: $btn-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        padding: 8px 20px;
        border-radius: 4px;
        background-color: $logo-sub-color;
      }
    }
    .hero-img {
      max-width: 427px;
      @include tab {
        max-width: 320px;
      }
      @include tel-min {
        max-width: 280px;
      }
    }
  }
}
