body {
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  scroll-behavior: smooth;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.head {
  padding: 50px 0;
}
.head .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.head-logo {
  color: #262626;
  font-size: 24px;
  font-weight: 600;
}
.head .head__menu {
  display: none;
}
@media screen and (max-width: 980px) {
  .head .head__menu {
    display: block;
  }
}
.head .head-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 118px;
}
@media screen and (max-width: 980px) {
  .head .head-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px;
    gap: 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    overflow: scroll;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}
.head .head-wrapper .head__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 980px) {
  .head .head-wrapper .head__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.head .head-wrapper .head__list-item a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.head .head-wrapper .head__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.head .head-wrapper .head__form-input {
  border: transparent;
  width: 278px;
  border-radius: 50px;
  background: #000;
  outline: transparent;
  padding: 13px 0 13px 18px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 980px) {
  .head .head-wrapper .head__form-input {
    width: 100%;
  }
}
.head .head-wrapper .head__form-input ::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.head .head-wrapper .head__form-input ::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.head .head-wrapper .head__form-input :-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.head .head-wrapper .head__form-input ::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.head .head-wrapper .head__form-input ::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}